# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PathfindingAndWaypoints.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityArtificialIntelligence_Holistic3D\PathfindingAndWaypoints\.idea\.idea.PathfindingAndWaypoints\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
