# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.NavMeshAgents.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityArtificialIntelligence_Holistic3D\NavMeshAgents\.idea\.idea.NavMeshAgents\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
