# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Moving.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityArtificialIntelligence_Holistic3D\Moving\.idea\.idea.Moving\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
