# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.AIFish.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityArtificialIntelligence_Holistic3D\AIFish\.idea\.idea.AIFish\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
