# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LineOfSight.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityArtificialIntelligence_Holistic3D\LineOfSight\.idea\.idea.LineOfSight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
